@model TepConMon.Models.Order
@using TepConMon.Models

@{
    ViewBag.Title = "Детали: заказы";
}

<h2>Информация о заказе</h2>

<div class="display-label"><b>Номер заказа</b></div>
<div class="display-field">
    @Html.DisplayFor(model => model.Number)
</div>

<div class="display-label"><b>Заказчик</b></div>
<div class="display-field">
    @Html.DisplayFor(model => model.Zakazchik.Name)
</div>

<div class="display-label"><b>Материалы</b></div>
<ul>
    @foreach (Material m in Model.Materials)
    {
        <li>@m.Name</li>
    }
</ul>
<div class="display-label"><b>Работы</b></div>
<ul>
    @foreach (Work w in Model.Works)
    {
        <li>@w.Name</li>
    }
</ul>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | 
    @Html.ActionLink("Back to List", "Index")
</div>